.home-container {
    max-width: 600px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 0 10px #0000001a;
    background-color: var(--color-white);
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
.header {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--color-black);
    text-align: center;
    border-bottom: 1px solid #0000001a;
    padding-bottom: 10px;
}
.form-group {
    margin-bottom: 12px;
}
.form-group p {
    font-size: 16px;
}
.datetime-wrapper {
    display: flex;
}
.result {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.result .result-title {
    font-size: 20px;
}
.result .result-time {
    font-size: 32px;
    color: var(--ion-color-success);
}
